<?xml version="1.0" encoding="utf-8"?>
<Activator xmlns="http://schemas.microsoft.com/sqlserver/2008/10/servicebroker/externalactivator"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://schemas.microsoft.com/sqlserver/2008/10/servicebroker/externalactivator EAServiceConfig.xsd"
           >
  <NotificationServiceList>
	<!-- name - service broker service name which is associated with event notification -->
    <NotificationService name="InNotificationService" id="100" enabled="true">
      <Description>In notification service</Description>
      <ConnectionString>
		<!-- restriction - connection string must have enabled integrated security -->
        <Unencrypted>Server=COMPUTER_NAME\SQLSERVER_NAME;Initial Catalog=ServiceBrokerFixture;Integrated Security=True;</Unencrypted>
      </ConnectionString>
    </NotificationService>
  </NotificationServiceList>
  <ApplicationServiceList>
    <ApplicationService name="AntiFraudStandMapper" enabled="true">
      <OnNotification>
	    <!-- sql server full instance name -->
        <ServerName>COMPUTER_NAME\SQLSERVER_NAME</ServerName>
        <DatabaseName>ServiceBrokerFixture</DatabaseName>
        <SchemaName>dbo</SchemaName>
		<!-- user queue name, not notification one -->
        <QueueName>InQueue</QueueName>
      </OnNotification>
      <LaunchInfo>
        <ImagePath>PATH_TO_MAPPER_EXE</ImagePath>
        <CmdLineArgs>0 0</CmdLineArgs>
        <WorkDir>PATH_TO_MAPPER_DIRECTORY</WorkDir>
      </LaunchInfo>
      <Concurrency min="1" max="4" />
    </ApplicationService>
  </ApplicationServiceList> 
  <LogSettings>
    <LogFilter>
	  <!-- here you can enable tracing for ext activator -->
	  <TraceFlag>All Levels</TraceFlag>
      <TraceFlag>All Modules</TraceFlag>
      <TraceFlag>All Entities</TraceFlag>
    </LogFilter>
  </LogSettings>
</Activator>